<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
      <add id="SidineiSilva_PrimeiroPluginMagento::sidinei" title="Sidinei Plugin" translate="title" module="SidineiSilva_PrimeiroPluginMagento" sortOrder="90" dependsOnModule="SidineiSilva_PrimeiroPluginMagento" resource="SidineiSilva_PrimeiroPluginMagento::sidinei"/>
      <add id="SidineiSilva_PrimeiroPluginMagento::sidinei_helloworld" title="Hello World" translate="title" module="SidineiSilva_PrimeiroPluginMagento" parent="SidineiSilva_PrimeiroPluginMagento::sidinei" sortOrder="10" dependsOnModule="SidineiSilva_PrimeiroPluginMagento" action="sidineiplugin/helloworld" resource="SidineiSilva_PrimeiroPluginMagento::sidinei"/>
    </menu>
</config>